
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Vehicle Application</h1>
    <p class="lead">Two models: VehicleMake & VehicleModel</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Author</h2>
        <p>
            Amanda Draganjac
        </p>
        <p><a class="btn btn-default" href="https://hr.linkedin.com/in/amanda-draganjac-b2407589">About me &raquo;</a></p>
    </div>
</div>